@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #262c3a;
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 46px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: white;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  background: #262c5b;
  font-size: 24px;
  color: #fff;
  border-color: white;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.login_form .submit {
  background: #262c5b;
  font-size: 28px;
  color: #fff;
  border-color: white;
  border-radius: 18px;
  transition: transform 0.3s ease;
}
.login_form .submit_div {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 32px;
  }
}
