@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


body {
  padding: 0;
  margin: 0;
  background-color: #262c3a;
}

.title {
	font-family: "Inconsolata", monospace;
	font-size: 24px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: white;
}

.login {
  background: #262c5b;
  font-size: 28px;
  color: #fff;
  border-color: white;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.login-div {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.register {
  background: #262c5b;
  font-size: 28px;
  color: #fff;
  border-color: white;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.register-div {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 16px;
  }
}