body {
  padding: 0;
  margin: 0;
  background-color: #262c3a;
}



.user {
  position: top;
  margin-left: 100vh;
  margin-top: 5vh;
  font-size: 24px;
  color: #fff;
}

.get_vaults {
  position: top;
  margin-left: 100vh;
  margin-top: 5vh;
  background: #262c5b;
  font-size: 24px;
  color: #fff;
  border-color: white;
  border-radius: 18px;
  transition: transform 0.3s ease;
}


.logout {
  position: absolute;
  top: 0;
  right: 0;
  background: #262c5b;
  font-size: 24px;
  color: #fff;
  border-color: white;
  border-radius: 18px;
  transition: transform 0.3s ease;
}