<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/static/styles/admin_dashboard_styles.css">
    <title>ADMIN PANEL</title>
</head>
<body>
    <div class = "mainBox">
        <p class = "titleContent">Admin Panel</p>
        <button class = "boxBtns" onclick = "deleteAccount()" id="daBtn"><a href = "#">DELETE ACCOUNT</a></button>
        <button class = "boxBtns" onclick = "createVault()" id="cvBtn"><a href = "#">CREATE VAULT</a></button>
        <button class = "boxBtns" onclick = "deleteVault()" id="dvBtn"><a href = "#">DELETE VAULT</a></button>
        <button class = "boxBtns" onclick = "changePermissionLevel()" id="cplBtn"><a href = "#">CHANGE PERMISSION LEVEL</a></button>
    </div>

    <div id="daModal" class="modal">
        <form class="daModalContent" action="/delete_account" method="POST" id="delete_account">
            <span class="close">&times;</span>
            <p class = "modalTitle">DELETE ACCOUNT</p>
            <input type="text" class = "modalInput" placeholder = "account" id="target_user">
            <button type="button" class="submitBtn" onclick="delete_account()">Delete vault</button>
        </form>
    </div>

    <div id="cvModal" class="modal">
        <form class="arModalContent" action="/create_vault" method="POST" id="create_vault">
            <span class="close">&times;</span>
            <p class = "modalTitle">CREATE VAULT</p>
            <input type="text" placeholder="Vault name" class="modalInput" id="vault_name">
            <input type="text" placeholder="Vault owner" class="modalInput" id="vault_owner">
            <button type="button" class="submitBtn" onclick="create_vault()">Create vault</button>
        </form>
    </div>

    <div id="dvModal" class="modal">
        <form class="daModalContent" action="/delete_vault" method="POST" id="delete_vault">
            <span class="close">&times;</span>
            <p class = "modalTitle">DELETE VAULT</p>
            <input type="text" class = "modalInput" placeholder = "Vault name" id="target_vault_name">
            <input type="text" class = "modalInput" placeholder = "Vault owner" id="target_vault_owner">
            <button type="button" class = "submitBtn" onclick="delete_vault()">Delete vault</button>
        </form>
    </div>

    <div id="cplModal" class="modal">
        <form class="daModalContent" action="/change_permission_level" method="POST" id="change_permission_level">
            <span class="close">&times;</span>
            <p class = "modalTitle">CHANGE PERM LEVEL</p>
            <input type="text" class = "modalInput" placeholder = "User" id="target_usr">
            <input type="text" class = "modalInput" placeholder = "Permission level" id="permission_level">
            <button type="button" class = "submitBtn" onclick="change_permission_level()">SUBMIT</button>
        </form>
    </div>
    <script src = "/static/js/admin_dashboard.js"></script>
</body>
</html>