<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin login</title>
		<link rel="stylesheet" href="/static/styles/admin_styles.css">
	</head>

	<body>
		<h class="username" id="username">username from js here</h>
		<p class="title" id="title">ADMIN PANEL</p>
		<form class="login_form"action="/admin_authentication" method="POST" id="access">
			<div class="submit_div"><input class ="submit" value="Submit" type="button" onclick="submitform()"></div>
		</form>

		<button class="logout" onclick="logout()">LOG OUT</button>
		<script src="/static/js/logout.js"></script>
		<script src="/static/js/admin.js"></script>
	</body>
</html>