<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Xena systems</title>
		<link rel="stylesheet" href="/static/styles/profile_styles.css">
	</head>

	<body>
		<p class="user" id="user">USER:</p>


		<p class="vauls" id="vaults">VAULTS:</p>
		<button class="get_vaults" id="get_vaults" onclick="get_vaults()">GET VAULTS</button>
		<button class="logout" onclick="logout()">LOG OUT</button>

        <form action="/insert_into_vault" method="POST" class="insert_into_vault" id="insert_into_vault">
			<p class="file_choice" id="file_choice">Choose file:</p>
			<br>
			<input type="text" placeholder="Vault name" class="vaultname" id="vaultname">
			<br>
			<br>
			<input type="text" placeholder="Filename" class="filename" id="filename">
			<br>
			<br>
			<input id="filedata" type="file" name="file">
            <br>
			<br>
            <button type="button" class="form_button" onclick="insert_into_vault()">Insert into vault</button>
        </form>

		<form action="/delete_from_vault" method="POST" class="delete_from_vault" id="delete_from_vault">
			<p class="file_choice" id="file_choice">Choose file:</p>
			<br>
			<input type="text" placeholder="Vault name" class="vaultname" id="vname">
			<br>
			<br>
			<input type="text" placeholder="Filename" class="filename" id="fname">
			<br>
			<br>
            <button type="button" class="form_button" onclick="delete_from_vault()">Delete from vault</button>
        </form>

		<script src="/static/js/logout.js"></script>
		<script src="/static/js/profile.js"></script>
	</body>
</html>