<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Xena systems</title>
		<link rel="stylesheet" href="/static/styles/index_styles.css">
	</head>
	<body>
		<a href="/login"><button>Login</button></a>
		<a href="/register"><button>Regster</button></a>
		<p class="title" id="title"></p>
		<script src="/static/js/index.js"></script>
	</body>
</html>