<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Xena systems</title>
		<link rel="stylesheet" href="/static/styles/index_styles.css">
	</head>

	<body>
		<table>
			<thead>
				<tr id="table_head">
				</tr>
			</thead>
			<tbody>
				<tr id="table_body">
				</tr>
				<tr>
				</tr>
			</tbody>
		</table>

		<button onclick="next()">Next</button>

		<script src="/static/js/index.js"></script>
	</body>
</html>
